.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;

}
.flex {
    display: flex;
}
.border {
    margin: 10px;
}
.bg-black {
    background-color: black;
    color: white;
}
.invert {
    filter: invert(1);
}
.bg-grey {
    background-color: #121212;
}
.rounded {
    border-radius: 7px;
}
.m-1 {
    margin: 15px;
}
.p-1 {
    padding: 25px;
}